p!= recommendText

p Источники с ответами на вопросы:
  ul.test__typography--h3
    each val in infoSources
      li
        a(href=val.link) #{val.title}

a(class=`summary__link` href=event.link) #{event.title}
