- const awardClass = (percentScored >= profiLevel) ? "comparing--award" : "";
- const comparingSign = "&thinsp;<i class='comparing__sign material-icons'>trending_flat</i>&thinsp;";
- const conclusionPhrase = temp.getConclusionPhrase(previousPercentScored, percentScored, profiLevel, expertLevel)
div(class=`comparing summary__block ${awardClass}`)
  p.comparing__numbers.js-comparing__numbers
    if previousPercentScored
      | #{previousPercentScored}!{comparingSign}
    | #{percentScored}%
  if conclusionPhrase
    p.comparing__phrase.js-comparing__phrase
      | #{conclusionPhrase}

  include _detailed-result.pug
