- const bestQuantityPhrase = (stat.bestQuantity > 0) ? `&thinsp; зафиксирован ${stat.bestQuantity} ${temp.getNumEnding(stat.bestQuantity, temp.ONCE)}` : ``;

  p На текущий момент тест прошли #{stat.total} #{temp.getNumEnding(stat.total, temp.PEOPLE)} с средним результатом #{stat.average}%. <span class="no-wrap">Из них:</span>
<ul>
  <li> #{stat.profies} #{temp.getNumEnding(stat.profies, temp.PEOPLE)} #{temp.getNumEnding(stat.profies, temp.SHOW)} уровень PROFI, набрав от #{stat.profiLevel}% до #{stat.expertLevel}%,</li>
  <li> #{stat.experts} — уровень EXPERT (больше #{stat.expertLevel}%),</li>
  <li>лучший результат — #{stat.best}%!{bestQuantityPhrase}.</li>
</ul>
