- const bestQuantityPhrase = (statReport.bestQuantity > 0) ? `&thinsp; зафиксирован ${statReport.bestQuantity} ${temp.getNumEnding(statReport.bestQuantity, temp.ONCE)}` : ``;

  p На текущий момент тест прошли #{statReport.total} #{temp.getNumEnding(statReport.total, temp.PEOPLE)} с средним результатом #{statReport.average}%. <span class="no-wrap">Из них:</span>
ul
  if (statReport.profies > 0)
    li #{statReport.profies} #{temp.getNumEnding(statReport.profies, temp.PEOPLE)} #{temp.getNumEnding(statReport.profies, temp.SHOW)} уровень PROFI, набрав от #{statLevels.profi}% до #{statLevels.expert}%,

    if (statReport.experts > 0)
      li #{statReport.experts} — уровень EXPERT (больше #{statLevels.expert}%),
  else
    li пока никто не показал уровень PROFI (от #{statLevels.profi}% до #{statLevels.expert}%),

    if (statReport.experts > 0)
      li #{statReport.experts} #{temp.getNumEnding(statReport.experts, temp.PEOPLE)} #{temp.getNumEnding(statReport.experts, temp.SHOW)} уровень EXPERT (больше #{statLevels.expert}%),
  li лучший результат — #{statReport.best}%!{bestQuantityPhrase}.

