<button type="button" class="header__item info__btn js-info__btn"><i class="material-icons">info_outline</i></button>
.info.js-info
  article.info__block.js-info__block
    b.info__overline Описание теста
    h1.info__title= header
    p
     | #{description}
     if updateDate
      |  Последние обновления #{updateDate}.
    if authorInfo
      p= authorInfo
    if statReport
      include _stat.pug
    if benefit
      p= benefit
    if testTime
      include _test-time.pug
    p После проверки неверные ответы будут выделены красным. Правильные ответы не раскрываются, но даются ссылки на материалы где их можно найти. Страница с результатами привязывается к браузеру и остается доступной в любое время по ссылке на тест.
    <button class="info__start-test js-info__start-test">Перейти к тесту</button>
    section.info__social
      include ../mixins/_social-btns.pug
      +socialBtns(`info`, canonLink)
