doctype html
html(lang=`ru`)
  head
    include partials/_ga.pug
    title #{title}
    meta(name=`description` content=description)
    meta(name=`viewport` content=`width=device-width, initial-scale=1 user-scalable=no`)
    link(rel=`canonical` href=canonicalUrl)
    link(rel=`shortcut icon` href=`/img/favicon.png` type=`image/png`)
    link(rel=`stylesheet` href=`https://unpkg.com/normalize.css@8.0.0/normalize.css`)
    link(rel=`stylesheet` href=`https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500&amp;subset=cyrillic`)
    link(rel=`stylesheet` href=`https://fonts.googleapis.com/icon?family=Material+Icons`)
    link(rel=`stylesheet` href=`/css/test.css`)
    include partials/_og.pug
  body
    include mixins/_fb-sdk.pug
    include partials/_svg-sprite.pug
    header.header.js-header
      if enabledInfo
        include _info.pug
      if time
        <section class="header__item timer">#{time}</section>
    main.main.test.js-test
      <p class="test__tag js-test__tag">Тест</p>
      <h1 class="test__title js-test__title">#{header}</h1>
      .test__lead-text.js-test__lead-text
        <p>В одном вопросе может быть несколько правильных ответов. Правильные ответы повышают, а неправильные — уменьшают оценку.  После проверки вопрос будет  выделен красным если вы указали хотя бы один лишний или не доуказали хотя бы один правильный ответ.</p>
      h2.test__subtitle.test__subtitle--checking.accordion__title Проверенные ответы
      ul.test__questions.js-test__questions.accordion__panel
        each question in questions
          li(class="question js-question", id= question.id)
            if question.code
              pre.question__code
                code
                  != question.code
            h3.question__title
              != question.wording
            ul.question__options.js-question__options
              each value, index in question.options
                li(class="question__option js-question__option", id= `${question.id}_${index}`)
                  != value
      <button type="button" class="test__result-btn js-test__result-btn" disabled>Проверить</button>
      .test__retake-block.js-test__retake-block
        <button type="button" class="test__retake-btn js-test__retake-btn"><i class="material-icons test__icon">&#xE5D5;</i>Повторить</button>
        p.test__retake-message.js-test__retake-message
        //- *После нажатия текущие результаты проверки перестанут быть доступными
      section.test__social.js-test__social
        include mixins/_social-btns.pug
        +socialBtns(`test`)
    include preloader.pug
    <script src="/js/test.js"></script>
