doctype html
html(lang=`ru`)
  head
    title= title
    meta(name=`viewport` content=`width=device-width, initial-scale=1 user-scalable=no`)
    link(rel=`canonical` href=canonicalUrl)
    link(rel=`stylesheet` href=`https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css`)
    link(rel=`stylesheet` href=`https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic`)
    link(rel=`stylesheet` href=`https://fonts.googleapis.com/icon?family=Material+Icons`)
    link(rel=`stylesheet` href=`/css/test.css`)
    include partials/_og.pug
  body.body__unvisible
    include mixins/_fb-sdk.pug
    header.header.js-header
      if enabledInfo
        include _info.pug
      if time
        <section class="header__item timer">#{time}</section>
    main.main.test.js-test
      <p class="test__tag js-test__tag typography--body">Тест</p>
      <h1 class="test__title js-test__title typography--d3">#{title}</h1>
      .drawer__box
        .test__lead-text
          <p class="typography--h3">В одном вопросе может быть несколько правильных ответов. Если нужно дать только один ответ из нескольких, об этом прямо сказано в тесте: «выберите наилучший вариант», «выберите наихудший» или как то ещё. Ваша задача — отметить все правильные ответы.</p>
          <p class="typography--h3">Правильные ответы повышают, а неправильные — уменьшают оценку. Вопрос отображается как неправильный (после проверки выделен красным), даже если вы указали хотя бы один лишний или не доуказали хотя бы один правильный ответ.</p>
        ul.test__questions.js-test__questions
          each question in questions
            li(class="question js-question", id= question.id)
              if question.code
                pre.question__code
                  code
                    = question.code
              h3.question__title.typography--h3
                != question.wording
              ul.question__options.js-question__options
                each value, index in question.options
                  li(class="question__option js-question__option typography--body", id= `${question.id}_${index}`)
                    != value
      <button type="button" class="mdc-button mdc-button--raised test__result-btn js-test__result-btn" disabled>Проверить</button>
      <button type="button" class="mdc-button mdc-button--raised test__retake-btn js-test__retake-btn"><i class="material-icons mdc-button__icon">&#xE5D5;</i>Повторить</button>
      section.test__social.js-test__social
        include mixins/_social-btns.pug
        +socialBtns(`test`)
    <script src="/js/test.js"></script>
